*, *::before, *::after{
  box-sizing: border-box;
}

/* dialogue */
body {
  padding-left: 100px;
  padding-top: 370px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 1100px;
  max-width: 80%;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 0 2px 1px;
}

.button-grid {
  margin-top:60px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.button {
  background-color: rgb(255, 74, 201);
  border: 1px solid hsl(273, 100%, 30%);
  border-radius: 7px;
  padding: 10px 5px;
  outline: none;
}

.button:hover {
  border-color: black;
}